@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.left-parts {
    color: #000;
    display: flex;
    align-items: center;
}

.logo-nav {
    display: flex;
    align-items: center;
}

// ====================== Hovertabs ================= ==
.user-container {
    position: relative;
    z-index: 20;
    .user {
        font-size: 1.5rem;
    }
    .user-tab {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: left;
        background-color: #fff;
        right: 0;
        top: 1.8rem;
        width: 12rem;
        min-height: 8rem;
        transition: all 0.1s;
        padding-top: 1.5rem;
        .user-links {
            padding: 1rem 1.2rem;
            text-decoration: none;
            color: rgb(26, 26, 26);
            font-size: 0.8rem;
            width: 100%;
            height: 1.5rem;
            display: flex;
            align-items: center;
            &:hover {
                background-color: rgb(225, 225, 225);
            }
        }
    }
    .user-tab-closed {
        opacity: 0;
        display: none;
    }
}

.cart-container {
    z-index: 30;
    .cart {
        font-size: 1.5rem;
    }
    .cart-tab {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: left;
        background-color: #fff;
        box-shadow: 2px -1px 11px 0px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 2px -1px 11px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 2px -1px 11px 0px rgba(0, 0, 0, 0.15);
        right: 0;
        top: 1.8rem;
        width: 22rem;
        min-height: 10rem;
        transition: all 0.1s;
        padding: 1.5rem 0.5rem 0.5rem 0.5rem;
        .cart-links {
            padding: 1rem 1.2rem;
            text-decoration: none;
            color: rgb(26, 26, 26);
            font-size: 0.8rem;
            width: 100%;
            height: 1.5rem;
            display: flex;
            align-items: center;
            &:hover {
                background-color: rgb(225, 225, 225);
            }
        }
    }
    .cart-tab-closed {
        opacity: 0;
        display: none;
    }
}

.cart-items-container {
    .cart-item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 15px;
        height: 50px;
        .product-image {
            height: 50px;
            width: 50px;
        }
        .product-name {
            font-size: 0.9rem;
            margin-left: 0.6rem;
            color: #003566;
            width: 60%;
        }
        .delete-price {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            height: 100%;
            margin-left: auto;
            .delete-icon {
                font-size: 0.8rem;
                color: #242424;
            }
            .product-price {
                font-size: 1rem;
            }
        }
    }
}

.cart-tab {
    .btn-cart {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .btn {
            display: flex;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
            background-color: #0084ff;
            color: #fff;
            border-radius: 5px;
            width: 45%;
            font-weight: 500;
            .btn-icon {
                margin-right: 0.5rem;
            }
        }
    }
}

.cart-tab {
    .total {
        width: 100%;
        justify-content: flex-end;
        display: flex;
        position: relative;
        padding: 10px 0;
        margin: 10px 0;
        h3 {
            color: rgb(29, 29, 29);
            font-size: 1rem;
        }
        &::before {
            content: '';
            width: 100%;
            height: 1px;
            background-color: rgb(148, 148, 148);
            position: absolute;
            top: 0;
            left: 0;
        }
        &::after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: rgb(148, 148, 148);
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

.right-parts-links {
    display: flex;
    .username {
        font-size: 12px;
        margin-right: 20px;
    }
    .nav-login {
        text-decoration: none;
        color: rgb(29, 29, 29);
        font-size: 18px;
        font-weight: 500;
        margin-right: 15px;
    }
    .nav-register {
        font-size: 18px;
        margin-right: 20px;
        font-weight: 500;
        text-decoration: none;
        color: rgb(29, 29, 29);
    }
    .user {
        margin-right: 10px;
        cursor: pointer;
    }
    .cart-container {
        position: relative;
        cursor: pointer;
        .cart-count {
            position: absolute;
            top: -10px;
            right: -10px;
            background-color: #FFD300;
            display: grid;
            place-items: center;
            width: 20px;
            height: 20px;
            font-size: 12px;
            font-weight: bold;
            border-radius: 50%;
        }
    }
}

.sidebar-links {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    color: rgb(39, 39, 39);
    a {
        color: rgb(39, 39, 39);
        text-decoration: none;
    }
    .top-links {
        display: flex;
        flex-direction: column;
        .side-link {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 1.8rem;
            height: 2.5rem;
            font-size: 1rem;
            &:hover {
                background-color: rgb(232, 232, 232);
            }
        }
        .category {
            display: flex;
            justify-content: space-between;
            .chevron-right {
                justify-content: flex-end;
            }
        }
        .side-cart {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 1.8rem;
            height: 2.5rem;
            align-items: center;
            .cart {
                color: #003566;
                margin-right: 0.5rem;
                font-size: 1.2rem;
            }
            span {
                font-size: 1.2rem;
            }
            .right {
                font-size: 1.2rem;
            }
        }
    }
    .bottom-links {
        padding: 1.8rem;
        justify-self: flex-end;
        .login {
            margin-right: 1.8rem;
            background-color: #003566;
            color: #fff;
            padding: 0.2rem 0.8rem;
            border-radius: 8px;
            font-size: 1.2rem;
            .user {
                margin-right: 0.8rem;
                font-size: 1.2rem;
                color: #fff;
            }
        }
        .register {
            font-size: 1.2rem;
        }
    }
}

@media only screen and (max-width: 768px) {
    .nav-login {
        display: none;
    }
    .nav-register {
        display: none;
    }
    .cart-container {
        position: relative;
        .cart-count {
            position: absolute;
            top: -12px;
            right: -15px;
            background-color: #FFD300;
            width: 15px;
            height: 15px;
            font-size: 12px;
            font-weight: bold;
            border-radius: 50%;
            text-align: center;
        }
    }
    .sidebar-links {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90vh;
        color: rgb(39, 39, 39);
    }
}

@media only screen and (max-width: 500px) {
    .left-parts {
        color: #000;
        display: flex;
        align-items: center;
    }
    .logo-nav {
        display: flex;
        align-items: center;
    }
    // ====================== Hovertabs ================= ==
    .user-container {
        position: relative;
        z-index: 20;
        .user-tab {
            position: absolute;
            display: flex;
            flex-direction: column;
            text-align: left;
            background-color: #fff;
            right: 0;
            top: 1.8rem;
            width: 12rem;
            min-height: 8rem;
            transition: all 0.1s;
            padding-top: 1.5rem;
            .user-links {
                padding: 1rem 1.2rem;
                text-decoration: none;
                color: rgb(26, 26, 26);
                font-size: 0.8rem;
                width: 100%;
                height: 1.5rem;
                display: flex;
                align-items: center;
                &:hover {
                    background-color: rgb(225, 225, 225);
                }
            }
        }
        .user-tab-closed {
            opacity: 0;
            display: none;
        }
    }
    .cart-container {
        z-index: 20;
        .cart-tab {
            position: absolute;
            display: flex;
            flex-direction: column;
            text-align: left;
            background-color: #fff;
            box-shadow: 2px -1px 11px 0px rgba(0, 0, 0, 0.15);
            -webkit-box-shadow: 2px -1px 11px 0px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 2px -1px 11px 0px rgba(0, 0, 0, 0.15);
            right: 0;
            top: 1.8rem;
            width: 18rem;
            min-height: 10rem;
            transition: all 0.1s;
            padding: 1.5rem 0.5rem 0.5rem 0.5rem;
            .cart-links {
                padding: 1rem 1.2rem;
                text-decoration: none;
                color: rgb(26, 26, 26);
                font-size: 0.8rem;
                width: 100%;
                height: 1.5rem;
                display: flex;
                align-items: center;
                &:hover {
                    background-color: rgb(225, 225, 225);
                }
            }
        }
        .cart-tab-closed {
            opacity: 0;
            display: none;
        }
    }
    .cart-items-container {
        .cart-item {
            display: flex;
            align-items: flex-start;
            margin-bottom: 15px;
            height: 50px;
            .product-image {
                height: 50px;
                width: 50px;
            }
            .product-name {
                font-size: 0.9rem;
                margin-left: 0.6rem;
                color: #003566;
            }
            .delete-price {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
                height: 100%;
                .delete-icon {
                    font-size: 0.8rem;
                    color: #242424;
                }
                .product-price {
                    font-size: 1rem;
                }
            }
        }
    }
    .cart-tab {
        .btn-cart {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .btn {
                display: flex;
                text-decoration: none;
                justify-content: center;
                align-items: center;
                padding: 0.5rem;
                background-color: #003566;
                color: #fff;
                border-radius: 5px;
                width: 45%;
                font-weight: 500;
                font-size: 0.8rem;
                .btn-icon {
                    margin-right: 0.5rem;
                }
            }
        }
    }
    .cart-tab {
        .total {
            width: 100%;
            justify-content: flex-end;
            display: flex;
            position: relative;
            padding: 10px 0;
            margin: 10px 0;
            h3 {
                color: rgb(29, 29, 29);
                font-size: 1rem;
            }
            &::before {
                content: '';
                width: 100%;
                height: 1px;
                background-color: rgb(148, 148, 148);
                position: absolute;
                top: 0;
                left: 0;
            }
            &::after {
                content: '';
                width: 100%;
                height: 1px;
                background-color: rgb(148, 148, 148);
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
    .right-parts-links {
        display: flex;
        align-items: center;
        .username {
            font-size: 10px;
            margin-right: 10px;
        }
        .nav-login {
            text-decoration: none;
            color: rgb(29, 29, 29);
            font-size: 18px;
            font-weight: 500;
            margin-right: 15px;
        }
        .nav-register {
            font-size: 18px;
            margin-right: 20px;
            font-weight: 500;
            text-decoration: none;
            color: rgb(29, 29, 29);
        }
        .user {
            margin-right: 8px;
            cursor: pointer;
        }
        .cart-container {
            position: relative;
            cursor: pointer;
            .cart-count {
                position: absolute;
                top: -12px;
                right: -15px;
                background-color: #FFD300;
                display: grid;
                place-items: center;
                width: 20px;
                height: 20px;
                font-size: 12px;
                font-weight: bold;
                border-radius: 50%;
            }
        }
    }
}